@model IEnumerable<Presentation_WebAPI.Models.TodoItemModel>

@Html.ActionLink("Create New", "Create", null, new { id = "createNewjQuery", @class = "btn btn-primary" })
<br /><br />
<table id="itemDataTable" class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.IsComplete)</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="renderModal"></div>