@model IEnumerable<Presentation_WebAPI.Models.TodoItemModel>

@{
    ViewBag.Title = "Todo Items Page";
}

@section scripts
{
    <script src="~/Scripts/TodoItem/DataTable.js"></script>
}

<h3>List of Items</h3>

@{ Html.RenderPartial("_DataTables"); }